#google div{
	margin: 0px 20px 20px 20px !important;
}

html {
	background: #f0f0eb;
	font-family: "Helvetica Neue", sans-serif;
}
h2, h1, p {
	font-family: "Pompiere","Helvetica Neue", sans-serif;
}
body {
	background: #FFF;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	box-shadow: 0 1px 1px rgba(0,0,0,0.5);
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
	margin: 0 auto 2em;
	padding: 2em 1em;
	width: 600px;
	font-family: 'Lato', serif;
}
body .zocial {
	margin: 8px 4px;
	font-size: 13px;
}
h2 {
	font-size: 17px;
	font-weight: normal;
	padding: 1em 0 0.75em;
	border-bottom: 1px solid #eee;
}
footer{
	position:absolute;
	bottom:0px;
}

.label {
	height: 5px;
	width: 25%;
	float: left;
}

.label.link{
	background: #f39c12;
}
.label.photo{
	background: #9b59b6;
}
.label.status{
	background: #1abc9c;
}
.label.post{
	background: #c0392b;
}

.chart {
	text-align: center;
	padding-bottom: 50px;
}

.names {
	margin-top: 25px;
}

.fbpost {
	padding: 10px 0px 10px 10px;
	border-left: 4px solid #3B5998;
	margin: 10px 0px;
	background: #f7f7f7;
}

.fblink {
	float: right;
}

.fbImg {
	float: left;
}

.loader {
	text-align: center;
}