<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      		{"parsetags": "explicit"}
    	</script>
    	<link href="/css/style.css" type="text/stylesheet" rel="stylesheet">
    	<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
    	<link rel="stylesheet" type="text/css" href="css/zocial.css">
		<title>Rekishi - Login</title>
	</head>
	<body>
		<h1><center><a href="/">Rekishi</a></center></h1>
		<h2> Login to services</h2>
			<table>
				<tr>
					<td><a href="/login/facebook" class="zocial facebook">Connect with Facebook</a></td>
					<td><a href="/login/google" class="zocial googleplus">Connect with Google+</a></td>
				</tr>
					<td><a href="/login/twitter" class="zocial twitter">Connect with Twitter</a></td>
					<td><a href="/login/github" class="zocial github">Connect with GitHub</a></td>
				</tr>
			</table>
			<footer>
				We &lt;3 Open Source.
			</footer>
	</body>
</html>